{% extends 'user'|layout %}

{% set page_title = "Tervetuloa"|trans %}

{% block head %}{% endblock %}

{% block content %}
    Tervetuloa!

    <ul>
        {% for library in libraries %}
            {% if can('view', library) %}
                <li>
                    <a href="{{ route('library.index', library.slug) }}">{{ library.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}{% endblock %}
