{% extends 'user'|layout %}

{% set page_title = "Hae kirjoja" %}

{% block head %}
    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        html, body {
            padding: 0;
            margin: 0;
        }

        .frame {
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        .results {
            background: #eee;
            border: 1px solid #ccc;
            border-radius: 4px;
            overflow-y: scroll;
            margin-top: 10px;
            flex: 1;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="frame">
        <form method="get">
            <input type="text" name="query" />

            <button>Hae</button>
        </form>

        <pre class="results"></pre>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(() => {
            $('input').focus();
        });

        $('form').submit((e) => {
            e.preventDefault();

            const query = $('input').val();

            if (query.length === 0) return;

            axios.get('/api/books/?query=' + query).then(({ data }) => {
                $('.results').html(JSON.stringify(data, null, 4));
            })
        });
    </script>
{% endblock %}
