{% extends 'user'|layout %}

{% set page_title = 'fields.settings'|trans %}

{% block head %}{% endblock %}

{% block content %}
    <h3>{{ page_title }}</h3>

    <div class="row">
        <div class="col-md-6 col-sm-auto">
            {{ form(user_form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}
