# Read more: https://laravel.com/docs/7.x/homestead#per-project-installation

ip: 192.168.10.10
memory: 2048
cpus: 2
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: ~\Code\Laravel\kotikirjasto
        to: /home/vagrant/code
sites:
    -
        map: kirjasto.varjohovi.test
        to: /home/vagrant/code/public
databases:
    - homestead
features:
    -
        mariadb: false
    -
        ohmyzsh: false
    -
        webdriver: false
