{% extends 'admin'|layout %}

{% set page_title = 'Lisää uusi kokoelma'|trans %}

{% block head %}{% endblock %}

{% block content %}
    <h3>{{ page_title }}</h3>

    {{ form(form) }}
{% endblock %}

{% block scripts %}{% endblock %}
