{% extends 'admin'|layout %}

{% set page_title = 'Kokoelma'|trans ~ ': ' ~ Request.route().parameter('library').name %}

{% block head %}{% endblock %}

{% block content %}
    <h3>{{ page_title }}</h3>

    {{ form(form) }}
{% endblock %}

{% block scripts %}{% endblock %}
