{% extends 'user'|layout %}

{% set page_title = 'category.type'|trans_choice(1) ~ ': ' ~ category.name %}

{% block head %}{% endblock %}

{% block content %}
    <h3>{{ page_title }}</h3>

    {{ form(form) }}
{% endblock %}

{% block scripts %}{% endblock %}
