{% extends 'user'|layout %}

{% use 'templates.blocks.search_form' %}

{% set page_title = library.name %}

{% block head %}{% endblock %}

{% block content %}
    <h3>{{ page_title }}</h3>

    <books library="{{ library.id }}"></books>

    {{ block('search_form') }}
{% endblock %}

{% block scripts %}
    {{ block('search_form_scripts') }}
{% endblock %}
