{% extends 'user'|layout %}

{% use 'templates.blocks.search_form' %}

{% set page_title = library.name %}

{% block head %}{% endblock %}

{% block content %}
    <h3>{{ page_title }}</h3>

    {% include 'templates.blocks.books' %}
{% endblock %}

{% block scripts %}
{% endblock %}
